<!--Header-->
<header id = "header">
	<div class = "inner">
		<a href="{{ path('<front>') }}" class="logo">{{ site_name }}</a>
		<nav class="navbar" id = "nav">  
			{{ main_nav }}
		</nav>
	</div>
</header>
<a href ="#" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<!--Content -->
<section id = "main">
    <div id = "container">
        <header class = "header">
            <h1>  </h1>
            <p> 
            </p>
        </header>
        <div>
            <a href="#" class="image fit"><img src="#" alt="" /></a>
        </div>
        <p>   </p>
    </div>
</section>

<!--Footer-->
<section id = "footer">
    <div class = "inner">
        <header class = "major">
			<h2>Get in Touch</h2>
	    </header>
		{% if page.contact_form is not empty %}
			<div>
				{{ page.contact_form }}
			</div>
		{% endif %}
		<div class = "copyright">
			<ul>
				<li>&copy; {{ site_name }}</li>
				<li>Design: <a href="http://templated.co">TEMPLATED.</a></li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
				<li>Theme: <a href="http://zyxware.com">Zyxware</a></li>
			</ul>
		</div>
    </div>
</section>
