<!--Header-->

<header id = "header">
	<div class = "inner">
		<a href="{{ path('<front>') }}" class="logo">{{ site_name }}</a>
			
			<nav class = "navbar" id = "nav">
				{{ main_nav }}
			</nav>
	</div>
</header>
<a href ="#" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!--Banner-->
<section id= "banner" {% if page.background_url %} style="background-image: url('{{ page.background_url }}');" {% endif %}>
    <div class = "inner">
        <div class = "row">
            <div class = "col-sm-12 col-md-12 col-xs-12">
                <h1>
		  {% if welcome_text %}
		    {{ welcome_text }}
		  {% else %}
		    {{ site_name }}
		  {% endif %}
		  <span class = "bannercolon"> : </span>
		  <span class = "bannertext">
		    {% if welcome_sub_text %}
		      {{ welcome_sub_text }}
		    {% else %}
		      {{ site_slogan }}
		    {% endif %}
		  </span>
		</h1>
                <ul class = "actions">
                    <li><a href = "#" class = "button alt"> Get Started </a></li>
                </ul>
            </div>
        </div>
    <div>
</section>

<!--Content-->
<!--Region 1-->
<section id = "one">
    <div class = "inner">
        <header class="major">
            <h2> 
	      {% if page.welcome_block_article_title %}
		{{ page.welcome_block_article_title }}
	      {% else %}
		{{ site_name }}
	      {% endif %}
	    </h2>
        </header>
        <p> 
	  {% if page.welcome_block_article_body %}
	    {{ page.welcome_block_article_body }}
	  {% else %}
	    {{ site_slogan }}
	  {% endif %}
	</p>
        <ul class = "actions" >
            <li><a href = "node/{{ page.welcome_block_article_id }}" class = "button alt" >Read More</a></li>
        </ul>
    </div>
</section>

<!--Region 2-->
<section id = "two">
    <div class = "inner">
        <div class = "row">
            <div class = "col-sm-6 col-md-6 col-xs-12">
                <article>
                    <header class = "major">
                        <h3> </h3>
                    </header>
                    <div class="image fit">
                        <img src="#" alt="" />
                    </div>
                    <p>
                        
                    </p>
                </article>
            </div>
            <div class = "col-sm-6 col-md-6 col-xs-12">
                <article>
                    <header class = "major">
                        <h3> </h3>
                    </header>
                    <div class="image fit">
                        <img src="#" alt="" />
                    </div>
                    <p>
                           
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>
<!--Region 3-->
<section id = "three">
<div class = "inner">
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-4 col-md-4 col-xs-12">
                <article>
                    <span class = "icon fa-laptop"> </span>
                    <header class = "major">
                        <h3> </h3>
                    </header>
                    <p>
                         
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </article>
            </div>
            <div class = "col-sm-4 col-md-4 col-xs-12">
                <article>
                    <span class = "icon fa-diamond"> </span>
                    <header class = "major">
                        <h3> </h3>
                    </header>
                    <p>
                         
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </article>
            </div>
            <div class = "col-sm-4 col-md-4 col-xs-12">
                <article>
                    <span class = "icon fa-laptop"> </span>
                    <header class = "major">
                        <h3> </h3>
                    </header>
                    <p>
                         
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</div>
</section>
<!--Footer-->
<section id = "footer">
    <div class = "inner">
        <header class = "major">
			<h2>Get in Touch</h2>
	    </header>
		{% if page.contact_form is not empty %}
			<div>
				{{ page.contact_form }}
			</div>
		{% endif %}
		<div class = "copyright">
			<ul>
				<li>&copy; {{ site_name }}</li>
				<li>Design: <a href="http://templated.co">TEMPLATED.</a></li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
				<li>Theme: <a href="http://zyxware.com">Zyxware</a></li>
			</ul>
		</div>
    </div>
</section>
